p {
    margin:0;
}
p:first-letter {
    margin-left: -0.06em;
}
.main-header {
    width: 100%;
    position: relative;
    height:15.300146412884335vw;
}
.main-header-background {
    position:absolute;
    width:100%;
    top:0vw;
    left:0vw;
    z-index:-1;
}
.main-header-help:active {
    box-shadow:inset 0px 0px 45px 5.5px rgba(0,0,0,0.09),0px 0px 45px 5.5px rgba(0,0,0,0.3);
    text-shadow:0px 0px 5.5px rgba(0,0,0,0.3);
    cursor: pointer;
}
.main-header-erase:active {
    box-shadow:inset 0px 0px 45px 5.5px rgba(0,0,0,0.09),0px 0px 45px 5.5px rgba(0,0,0,0.3);
    text-shadow:0px 0px 5.5px rgba(0,0,0,0.3);
    cursor: pointer;
}
.main-header-help:hover {
    box-shadow:inset 0px 0px 50px 0.5px rgba(0,0,0,0.09),0px 0px 50px 0.5px rgba(0,0,0,0.3);
    text-shadow:0px 0px 0.5px rgba(0,0,0,0.3);
    cursor: pointer;
}
.main-header-erase:hover {
    box-shadow:inset 0px 0px 50px 0.5px rgba(0,0,0,0.09),0px 0px 50px 0.5px rgba(0,0,0,0.3);
    text-shadow:0px 0px 0.5px rgba(0,0,0,0.3);
    cursor: pointer;
}
.main-header-localhost:active {
    box-shadow:inset 0px 0px 45px 5.5px rgba(0,0,0,0.09),0px 0px 45px 5.5px rgba(0,0,0,0.3);
    text-shadow:0px 0px 5.5px rgba(0,0,0,0.3);
    cursor: pointer;
}
.main-header-web:active {
    box-shadow:inset 0px 0px 45px 5.5px rgba(0,0,0,0.09),0px 0px 45px 5.5px rgba(0,0,0,0.3);
    text-shadow:0px 0px 5.5px rgba(0,0,0,0.3);
    cursor: pointer;
}
.main-header-dashboard:active {
    box-shadow:inset 0px 0px 45px 5.5px rgba(0,0,0,0.09),0px 0px 45px 5.5px rgba(0,0,0,0.3);
    text-shadow:0px 0px 5.5px rgba(0,0,0,0.3);
    cursor: pointer;
}
.main-header-localhost:hover {
    box-shadow:inset 0px 0px 50px 0.5px rgba(0,0,0,0.09),0px 0px 50px 0.5px rgba(0,0,0,0.3);
    text-shadow:0px 0px 0.5px rgba(0,0,0,0.3);
    cursor: pointer;
}
.main-header-web:hover {
    box-shadow:inset 0px 0px 50px 0.5px rgba(0,0,0,0.09),0px 0px 50px 0.5px rgba(0,0,0,0.3);
    text-shadow:0px 0px 0.5px rgba(0,0,0,0.3);
    cursor: pointer;
}
.main-header-dashboard:hover {
    box-shadow:inset 0px 0px 50px 0.5px rgba(0,0,0,0.09),0px 0px 50px 0.5px rgba(0,0,0,0.3);
    text-shadow:0px 0px 0.5px rgba(0,0,0,0.3);
    cursor: pointer;
}
.main-header-line {
    position:absolute;
    width:23.645680819912155vw;
    top:8.931185944363104vw;
    left:31.259150805270863vw;
    z-index:10;
}
.main-header-org {
    position:absolute;
    width:7.247437774524158vw;
    top:6.734992679355783vw;
    left:22.6207906295754vw;
    z-index:10;
}
.main-header-rhombuses {
    position:absolute;
    width:10.175695461200586vw;
    top:1.8301610541727675vw;
    left:15.739385065885797vw;
    z-index:10;
}
.main-header-help {
    white-space:unset;
    font-family:GothamPro, serif;
    font-size:1.3327814569536425vw;
    color: rgba(103.9992,103.9992,103.9992,1);
    position:absolute;
    top:7.027818448023427vw;
    left:75.18301610541727vw;
}
.main-header-i {
    white-space:unset;
    font-family:GothamPro, serif;
    font-size:1.4321192052980132vw;
    color: rgba(103.9992,103.9992,103.9992,1);
    position:absolute;
    top:6.881405563689605vw;
    left:74.30453879941435vw;
}
.main-header-erase {
    white-space:unset;
    font-family:GothamPro, serif;
    font-size:1.3327814569536425vw;
    color: rgba(103.9992,103.9992,103.9992,1);
    position:absolute;
    top:7.027818448023427vw;
    left:69.1068814055637vw;
}
.main-header-localhost {
    white-space:unset;
    font-family:GothamPro, serif;
    font-size:1.3327814569536425vw;
    color: rgba(103.9992,103.9992,103.9992,1);
    position:absolute;
    top:6.954612005856515vw;
    left:42.313323572474374vw;
}
.main-header-web {
    white-space:unset;
    font-family:GothamPro, serif;
    font-size:1.3327814569536425vw;
    color: rgba(103.9992,103.9992,103.9992,1);
    position:absolute;
    top:6.954612005856515vw;
    left:51.756954612005856vw;
}
.main-header-dashboard {
    white-space:unset;
    font-family:GothamPro, serif;
    font-size:1.3327814569536425vw;
    color: rgba(103.9992,103.9992,103.9992,1);
    position:absolute;
    top:6.954612005856515vw;
    left:31.259150805270863vw;
}
